bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.idea*
.idea/.idea.CleanArchitectureTemplate/
.idea/.idea.CleanArchitectureTemplate/.idea/
.idea/.idea.CleanArchitectureTemplate/.idea/*